#nom{
position: absolute;
  left: 41%;
  right: 0;
  top: 30%;
  border-radius: 5px;
  border-color: black;
}

#demande{
position: absolute;
  left: 41%;
  right: 0;
  top: 40%;
  border-radius: 5px;
  border-color: black;

}


#valider {
position: absolute;
  left: 46%;
  right: 0;
  top: 60%;
  max-width: 400px;
  border-radius: 5px;
  border-color: black;
}
